<html>
  <head></head>
  <body>
    <p>
    There is nothing either good or bad but <%= @noun %> makes it so.
    </p>

    <p><%= @test %></p>
  </body>

  <footer>
  <div>
    <div>ENV Variables:</div> 
    <div>User Agent: <%= @env["HTTP_USER_AGENT"]  %></div>
    <div>Server Software: <%= @env["SERVER_SOFTWARE"]  %></div>
  </div>
  </footer>
</html>
